.app-map {
  
  .leaflet-control-zoom {
    display: none !important;
  }

  .leaflet-top .leaflet-control {
    top: 0;
  }

  .geosearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    margin: 10px auto;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    form {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 10px;

      input {
        flex: 1;
        height: 40px;
        padding: 10px;
        padding-right: 35px;
        border: none;
        border-radius: 5px;
        background-color: #f2f2f2;
        font-size: 16px;
        color: #333;

        &:focus {
          outline: none;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
      }

      // RTL styles
      [dir="rtl"] & input {
        padding-left: 35px;
        padding-right: 10px;

      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 22px;
        height: 22px;
        border: none;
        border-radius: 50%;
        background-color: #336a86;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s ease;
        text-align: center;
        line-height: 1;

        &:hover {
          background-color: darken(#336a86, 10%);
        }

        &:focus {
          outline: none;
        }
      }

      // RTL styles
      [dir="rtl"] & button {
        left: 15px;
        right: auto;
      }
    }

    .results {
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      z-index: 100;
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      list-style: none;
      padding: 0;
      margin: 0;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      div {
        padding: 10px;
        font-size: 16px;
        color: #333;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: #f2f2f2;
          color: #336a86;
        }
      }
    }
  }

  .re-center-btn {
    text-align: center !important;
    width: 100px;
    background-color: #336a86;
    color: #fff;
    z-index: 999;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .leaflet-control-attribution.leaflet-control {
    display: none;
  }
}