$bgLoginImage: url("/images/bg-login.jpg");
$gradientColor: rgba(21, 170, 190, 0.4);

@mixin smallScreenMedia($color) {
  @media only screen and (max-width: 768px) {
    background-image: linear-gradient(to right, rgba($color, 0.9), rgba($color, 0.9)), $bgLoginImage;
  }
}

.login {
  background-image: linear-gradient(to right, $gradientColor 0%, $gradientColor 100%, transparent 10%), $bgLoginImage;
  @include smallScreenMedia($gradientColor);
}