@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "pages/home";
@import "pages/login";
@import "pages/profile";
@import "components/layout/sidebar";

@layer utilities {
  .remain-height {
    min-height: calc(100vh - 4rem);
  }
}

@layer components {

  // desktop nav
  .default-desktop-nav {
    border-bottom-width: 2px !important;
    border-color: transparent !important;
    padding: 0.5rem 0.75rem !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    line-height: 1.25rem !important;
    border-radius: 0.25rem !important;
    color: #FFF !important;
  }

  .hover-desktop-nav:hover {
    border-color: #1d4ed8 !important;
    color: #1d4ed8 !important;
    background-color: transparent !important;
  }

  .active-desktop-nav {
    border-color: #1d4ed8 !important;
    background-color: #1d4ed8 !important;
    color: #fff !important;
  }

  // mobile nav
  .default-mobile-nav {
    display: block !important;
    border-bottom-width: 2px !important;
    padding: 0.5rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    line-height: 1.5rem !important;
    border-radius: 0.25rem !important;
  }

  .hover-mobile-nav:hover {
    border-color: #1d4ed8;
    color: #1d4ed8;
    background-color: transparent;
  }

  .active-mobile-nav {
    border-color: #1d4ed8;
    background-color: #1d4ed8;
    color: #fff;
  }

}