html[lang=ar] {
  body {
    font-family: "Noto Sans Arabic", sans-serif !important;
  }

  .date_picker_icon::after {
    right: auto;
    left: 2%;
  }

  .sidebar {
    &:hover .sub-menu-icon {
      transform: translateX(-15px) !important;
      -webkit-transform: translateX(-15px) !important;
      -moz-transform: translateX(-15px) !important;
      -ms-transform: translateX(-15px) !important;
      -o-transform: translateX(-15px) !important;
    }
  }

  .app-map {
    .gmnoprint {
      left: 45px !important;
      right: auto !important;
    }

    .gm-control-active.gm-fullscreen-control {
      left: 0 !important;
      right: auto !important;
    }
  }
}